@model IEnumerable<EventMenager.Models.EventModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Nadchodzące wydarzenia</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
   
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
           
            <td>
                
                @Html.ActionLink("Details", "Details", new {  id=item.EventId  },new {@class="btn btn-info" }) 
                
            </td>
        </tr>
}
    </tbody>
</table>
